<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>welcome to Footprint</h1>
            <hr>
            <p>Footprint is an exclusive in-house app designed for everyone interested...</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Tell me more</a>
        </div>
    </div>
</header>
