<section id="design">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Core features at your service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-shipping-fast wow bounceIn text-primary">usb</i>
                    <h3>Fresh data from GPMS</h3>
                    <p class="text-muted">Footprint is fed from daily updates from GPMS. Calculation are 0.1% close and </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-people-carry wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Design with users</h3>
                    <p class="text-muted">We've worked, re-worked and fine-tuned many times the app to make sure it gets close to your need.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-terminal wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>AI. But not only</h3>
                    <p class="text-muted">We know how AI is popular. We've put the right dose of AI to make sure you enjoy your app. But not only. A lot of good sense from users.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-glass-cheers fa-4x wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <!-- i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i-->
                    <h3>Everyone's invited !</h3>
                    <p class="text-muted">The app is not limited to creative team. Wherever you are within the Company, you can use the tool for your personal need anytime.</p>
                </div>
            </div>
        </div>
    </div>
</section>
